/* shop.css             */
/* author: Luke Plaster */

html, body {
    /* disable horizontal scroll */
    max-width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 3vw;
}

body, input, button {
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: hsl(0, 0%, 97%);
    transition: padding 0.3s ease;
    -moz-transition: padding 0.3s ease;
    -webkit-transition: padding 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', 'Helvetica', Arial;
    font-weight: 200;
}

a,
a:hover,
a:active,
a:visited {
   text-decoration: none;
}

button {
   text-align: center;
}

/* --- */

header {
    background-color: hsl(200, 53%, 79%);
}

header h1 {
    font-size: 2rem;
    margin: 0;
    padding: 1.5rem 2rem;
}

.items {
    margin: 0; padding: 0;
    list-style-type: none;
}

.items {
    font-size: 1.5rem;
    font-weight: 200;
    overflow-x: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.items .item {
    position: relative;
    padding: 0;
    height: 5.1rem;
    width: 100vw;
    white-space: nowrap;
    display: block;
    padding: 1.6rem 2rem 1.6rem 7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: move;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    box-sizing: border-box;
}

.items .item-image {
    position: absolute;
    top: 0; left: 0;
    width: 5rem;
    height: 5rem;
    background: hsl(0, 0%, 97%) no-repeat scroll;
    background-size: contain;
    z-index: 10;
}
.items .item-name {
    float: left;
    letter-spacing: 0px;
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 70%;
}
.items .item-price {
    color: #777;
    float: right;
    text-align: left;
    width: 6rem;
}
.items .item-quantity {
    position: absolute;
    right: 1rem;
    color: white;
    padding: 0 .3em;
    background: green;
    border-radius: 100%;
}

/* these elements flash the new quantities on add/remove */

.items .purchasable-item-new-quantity-indicator {
    content: attr(data-quantity);
    display: block;
    position: absolute;
    top: 0;
    width: 5rem;
    height: 5rem;
    color: white;
    text-align: center;
    font-size: 3rem;
    padding: .8rem 0;
    box-sizing: border-box;
    opacity: 0;
    z-index: 20;
}
.items .purchasable-item-new-quantity-indicator.left {
    left: 0;
    background: green;
}
.items .purchasable-item-new-quantity-indicator.right {
    right: 0;
    background: red;
}

/* snap-back animations */

.items .item.snapping-back {
    transition: -webkit-transform .6s ease-out .1s;
    transition: -moz-transform .6s ease-out .1s;
    transition: transform .6s ease-out .1s;
}
.items .item.snapping-back .purchasable-item-new-quantity-indicator {
    transition: opacity .6s ease-out .1s;
}

/* --- */

/* media queries */

@media (min-width: 550px) {
    html {
        font-size: 16.5px;
    }
}

@media (max-width: 767px) {
    .items .item {
        cursor: move;
    }
}
